body{
    display: grid;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    grid-template-areas: 
    "fila01"
    "fila02"
    "fila03"
    "fila04"
    "fila05"
    "fila06"
    "final"
   ;
}

#bienvenida{
    display: flex;
    grid-area: fila01;
    justify-content: space-between;
    width: auto;

}

#bienvenida .sobreMi{
    width: 40%;
}

#datosPersonales{
    display: flex;
    grid-area: fila02;
    justify-content: space-between;
    width: auto;
}

#datosPersonales .datos{
    width: 30%;
}

#lenguajes{
   display: inline;
    grid-area: fila03;

}

#lenguajes .tabla{
    width: 100%;
}

#metas{
    display: flex;
    flex-direction:row;
    grid-area: fila04;
    justify-content: space-between;
    width: auto;
}

#metas .metas{
    width: 100%;
}

#emprendimiento{
    display: flex;
    
    grid-area: fila05;
    justify-content: space-between;
    width: auto;
}
#emprendimiento .emprem{
    width: 50%;
}

#contactos{
    display: flex;
    grid-area: fila06;
    justify-content: space-between;
    width: auto;
}
#contactos .contac{
    width: 60%;
}

footer{
    grid-area: final;
    justify-content: center;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 880px) {
    body{
        display: grid;
        grid-template-columns: 1fr;
        background-color: darksalmon;
    }

    #bienvenida {
        display: grid;
        grid-template-columns: 1fr;    
        justify-content: space-between;
        background-color: aquamarine;
    }

    #bienvenida .sobreMi{
        width: 10%;
    }

    #datosPersonales{
        display: grid;
        grid-template-columns: 1fr;    
        justify-content: space-between;
        background-color: rgb(214, 127, 255);
    }

    #lenguajes{
        display: grid;
        grid-template-columns: 1fr;    
        justify-content: space-between;
        background-color: rgb(207, 236, 127);
    }
    

    #meta{
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        background-color: rgb(255, 200, 127);
    }

    #emprendimiento{
        display: grid;
        grid-template-columns: 1fr;    
        justify-content: space-between;
        background-color: rgb(241, 42, 152);
    }

    #contactos{
        display:grid;
        grid-template-columns: 1fr;  
        flex-direction: column;  
        justify-content: space-between;
        background-color: rgb(91, 107, 245);
    }
}