#sobreMi{
    background-image:-moz-linear-gradient(#90bfe9, #ffffff, #fc92d9, #f2d6ff, #8fa6b3);

  }

 h3{
    color: rgb(15, 1, 3);
}
h2{
    color: rgb(218, 55, 177);
}

h1{
    color: rgb(119, 51, 11);
}c 