<section class="container-fluid full">
	<div class="row half justify-content-center">
		<div class="p-0 pt-2 col-2">
			<button mat-icon-button color="basic" aria-label="back" routerLink="/principal">  
       			<mat-icon>arrow_back</mat-icon> 
    		</button>  
		</div>
		<div class="offset-8 p-0 pt-2 col-2">
    		<button mat-icon-button color="basic" aria-label="back">  
       			<mat-icon>menu</mat-icon> 
    		</button>  
		</div>
		<div class="col-12">
			<button type="button" class="btn btn-success mx-2" routerLink="/tabla">Tabla de helados</button>

			<h1 class="mb-0">Tipos de Helados</h1>
			<div id="picture" class="rounded-circle mx-auto d-block" src="">
				
				<img src="assets/imagenes/helado2.PNG" class="img-fluid" alt="imagen" height="200" width="200" >

			</div>
		</div>
		<div class="col-12 text-center">
			<button type="button" class="btn btn-success mx-2" routerLink="/descripcion">Helados de Paleta</button>
			<h2></h2>
		</div>

		<div class="col-12">
			<div id="picture" class="rounded-circle mx-auto d-block">
				<img src="assets/imagenes/helado1.PNG" class="img-fluid" alt="imagen" height="200" width="200">

			</div>
		</div>
		<div class="col-12 text-center">
			<button type="button" class="btn btn-success mx-2" routerLink="/descripcion">Helados de mantecado</button>

			<h2></h2>
		</div>

		<div class="col-12">
			<div id="picture" class="rounded-circle mx-auto d-block">
				<img src="assets/imagenes/helado5.PNG" class="img-fluid" alt="imagen" height="200" width="200">

			</div>
		</div>
		<div class="col-12 text-center">
			<button type="button" class="btn btn-success mx-2" routerLink="/descripcion">Helados artesanales</button>
			<h2></h2>
			
		</div>

		<div class="col-12">
			<div id="picture" class="rounded-circle mx-auto d-block">
				<img src="assets/imagenes/helado3.PNG" class="img-fluid" alt="imagen" height="200" width="200">

			</div>
		</div>
		<div class="col-12 text-center">
			<button type="button" class="btn btn-success mx-2" routerLink="/descripcion">Helados especiales</button>
			<h2></h2>
			
		</div>
	</div>


	
</section>