body{
    background-image:url("https://img.freepik.com/vector-gratis/fondo-pintura-acuarela-rosa-vibrante_53876-58930.jpg?w=2000");
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    align-items: center;
}

 h3{
    margin: 0 6rem;
    color: rgb(15, 1, 3);
}

h2{
    font-family:cursive;
    color: rgb(218, 55, 177);
    border-color:blueviolet;
    border-width:initial;
    
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(119, 51, 11);
    font-size:xx-large;
    text-align: center;
}

#lenguajes{
    text-align: center;
    justify-content: center;

}

#sobreMi{
    padding: 2rem;
    margin: 1rem;
    text-align: center;  
    justify-content: center;
    height: 100%;
    width: 100%;      
}

.tabla{
    text-align: center;  
    justify-content: center;
    height: 100%;
    width: 100%;      
}


table{
    border-collapse:separate;
    border: #fc92d9 0.2rem solid;
    margin: auto;
    padding: auto;
    height: 100%;
    width: 100%;
    object-fit:contain;    
}

#redes{
    padding: 2rem;
    margin: 1rem;
    align-content: center;
}

section {
    background:#fffbfe;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 1rem;
    box-shadow: 0.1rem 0.3rem rgb(252, 150, 218);
}

li{
    font-size: x-large;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(252, 162, 229);
    color: white;
  }