
<section>
  <mat-toolbar class="header">
    <button mat-icon-button class="example-icon arrow_back_ios-icon" routerLink="/principal">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
  </mat-toolbar>
    <div class="offset-8 p-0 pt-2 col-2">
      <button mat-icon-button color="basic" aria-label="back">  
         
      </button>  
    </div>
</section>

<section class="container">
<div class="card mb-3" style="max-width: 550px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{item.imagen}}" width="200"/>
    </div>

    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title"><b>{{item.nombre}}</b></h1>

        <p class="card-text">
          <small class="text-muted">Pais: {{item.pais}}</small>
          <br>
          <mat-card-subtitle class="text-muted">Descripcion: {{item.descripcion}}</mat-card-subtitle>
        </p>
      </div>
    </div>
  </div>
</div>


<div class="col-sm-6 col-lg-4 mb-4" style="max-width: 800px;" >
  <div class="card" style="max-width: 800px;">
    <div class="card-body" style="max-width: 800px;">
      <h5 class="card-title">Ingredientes</h5>
      <ol start="1">
        <li>El jugo de 10 naranjas grandes</li>
        <li>1 papaya grande y madura</li>
        <li>1 piña</li>
        <li>6 bananos o guineos maduros</li>
        <li>1 piña</li>
      </ol>
    </div>
  </div>
</div>

<div class="col-sm-6 col-lg-4 mb-4" style="max-width: 800px;">
  <div class="card" style="max-width: 800px;">
    <div class="card-body" style="max-width: 800px;">
      <h5 class="card-title">Preparación</h5>
      <p class="card-text">Ponga la papaya picada, la piña picada y el banano picado en una fuente grande.
        Agregue el jugo de naranja y mezcle bien. Agregue azúcar o miel a su gusto.
        Pruebe y si lo desea agregue azúcar o miel de abeja a su gusto.
        Rellene los moldes de helado o de paleta con la mezcla de la ensalada de frutas y déjelos reposar en el congelador durante 3-4 horas o hasta que estén congelados.</p>
    </div>
  </div>
</div>
</section>

<!--

<section class="container-fluid full">
	<div class="row half justify-content-center">
		<div class="p-0 pt-2 col-2">
			<button mat-icon-button color="basic" aria-label="back" routerLink="/album">  
       			<mat-icon>arrow_back</mat-icon> 
    		</button>  
		</div>
		<div class="offset-8 p-0 pt-2 col-2">
    		<button mat-icon-button color="basic" aria-label="back">  
       			<mat-icon>menu</mat-icon> 
    		</button>  
		</div>
	

    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <img src="assets/imagenes/helado8.PNG" class="img-fluid" alt="imagen" width="100%" height="50%">
        <div class="card-body">
          <h5 class="card-title">Helados de paleta de frutas tropicales</h5>
          <p class="card-text">Dificultad media</p>
          <p class="card-text">Tiempo de preparación de 20 min</p>
          <p class="card-text">Preparación para 5 personas</p>
        </div>
      </div>
    </div>
	</div>
  <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ingredientes</h5>
          <ol start="5">
            <li>El jugo de 10 naranjas grandes</li>
            <li>1 papaya grande y madura</li>
            <li>1 piña</li>
            <li>6 bananos o guineos maduros</li>
            <li>1 piña</li>
          </ol>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Preparación</h5>
          <p class="card-text">Ponga la papaya picada, la piña picada y el banano picado en una fuente grande.
            Agregue el jugo de naranja y mezcle bien. Agregue azúcar o miel a su gusto.
            Pruebe y si lo desea agregue azúcar o miel de abeja a su gusto.
            Rellene los moldes de helado o de paleta con la mezcla de la ensalada de frutas y déjelos reposar en el congelador durante 3-4 horas o hasta que estén congelados.</p>
        </div>
      </div>
    </div>

	
</section>
-->